/* Общие */

*,
::after,
::before {
  box-sizing: border-box;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

/* Слайдер */
.slider-container {
  overflow: hidden;
  background-color: grey;
}
.slider-track {
  display: flex;
  background-color: rgba(255, 0, 0, 0.411);
}
.slider-item {
  height: 100px;
}
.slider-item:nth-child(3n+1) {
  background-color: green;
}
.slider-item:nth-child(3n+2) {
  background-color: tomato;
}
.slider-item:nth-child(3n+3) {
  background-color: rgba(0, 0, 255, 0.521);
}
.slider-buttons {
  text-align: center;
}